{% extends 'partials/base.html.twig' %}

{% block content %}
 
    <div id="content contact-content">
        {% for module in page.collection() %}
                {{ module.content }}
        {% endfor %}
    </div>
{% endblock %}
