<section class="contact-form">
	<div class="contact-form__title">
		{{ page.content }}
	</div>
	<div class="contact-form__form">
		<div class="contact-form__wrapper">{% include "forms/form.html.twig" %}</div>

	</div>
</section>