<section class="contact-info">
    <div class="contact-info__content">
        <div class="contact-info__intro">
	    	{{ page.content }}
        </div>
    	<div class="contact-info__details">
            <div class="contact-info__phone">
            	<h5>Phone</h5>
            	<h6>{{ page.header.phone }}</h6>
            </div>
        	<div class="contact-info__email">
            	<h5>email</h5>
            	<h6>{{ page.header.email }}</h6>
            </div>
            <div class="contact-info__address">
            	<h5>address</h5>
            	<h6>{{ page.header.address }}</h6>
            </div>
        </div>
    </div>
</section>
