<section class="contact">
	<div class="contact__title">
		{{ page.content }}
	</div>
	<div class="contact__form">
		<div class="contact__form-inner">
			<h4>{{ page.header.main }}</h4>
			<p>{{ page.header.text }}</p>
			<div class="contact-form__wrap">{% include "forms/form.html.twig" %}</div>
		</div>
	</div>
</section>